.container{
    font-family: var(--font-alexandria);
    font-weight: 400;
    font-style: normal;
    overflow: hidden;
    background-color: #FFCFDB;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    width: 100%;
}

.cadastroContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-family: var(--font-alexandria);
  background-color: #fdb2b2;
  border-radius: 30px 30px 0 0;
  padding: 40px 50px 200px;
  margin-top: 100px;
  margin-left: 150px;
  margin-right: 250px;
  text-align: center;
  width: 30%;
  gap: 10px;
}

.tituloCad {
  font-size: 30px;
  font-family: var(--font-alexandria);
  font-weight: bold;
  color: #000000;
}

.descricaoCad {
  display: flex;
  font-family: var(--font-alexandria);
  font-size: 14px;
  text-align: center;
  white-space: nowrap; 
  display: inline-block;
  color: #FF415E;
}

.cadastro-image {
  width: 100px;
  margin: 15px 0;
}

.inputs {
  width: 100%;
  padding: 10px;
  margin: 13px 0;
  border: none;
  border-radius: 20px;
  font-size: 14px;
  font-family: var(--font-alexandria);
  font-weight: 400;
  font-style: normal;
  background-color: #ffffff;
  color: #000000;
}

.buttonCad {
  font-family: var(--font-alexandria);
  font-weight: 400;
  font-style: normal;
  width: 100%;
  background-color: #FD5972;
  color: white;
  border: none;
  border-radius: 20px;
  padding: 10px;
  font-size: 16px;
  cursor: pointer;
  margin: 10px 0;
}

.buttonCad:hover {
  background-color: #FD5972;
}

.cadastro-container .nao-tem-conta {
  font-family: var(--font-alexandria);
  font-size: 14px;
  color: #FF415E;
  margin-top: 80px;
}

.secaoLogo {
  display: flex;
  width: 70%;
  font-family: var(--font-alexandria);
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: #000000;
}

.logoAbraco {
  width: 350px;
  height: 350px;
  animation-name: floatAnimation;
  animation-duration: 3s;
  animation-iteration-count: infinite;
  animation-timing-function: ease-in-out;
  animation-direction: alternate;
}

.texto {
  font-size: 18px;
}


@keyframes floatAnimation {
  0% {
    transform: translateY(0px);
  }
  50% {
    transform: translateY(-15px);
  }
  100% {
    transform: translateY(0px);
  }
}