.perfilContainer {
  background-color: #FFCFDB;
  font-family: var(--font-alexandria);
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.header {
  position: relative;
  background: linear-gradient(
    to bottom,
    #FFABB8(241, 112, 112, 0.23),
    transparent
  );
  height: 130px;
  text-align: center;
  padding-top: 30px;
}

.header h1 {
  display: inline-block;
  background-color: #FFABB8;
  padding: 10px 20px;
  border-radius: 20px;
  font-size: 18px;
  font-weight: bold;
  color: #000000;
}

.backBtn {
  position: absolute;
  top: 20px;
  left: 20px;
  font-size: 20px;
  background: none;
  border: none;
  cursor: pointer;
  width: 30px;
  height: 30px;
  color: #000000;
}

.dadosGerais {
    display: flex;
    flex-direction: column;
    height: 100%;
    width: 100%;
}

.informacoes {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 12px;
}

.foto {
    display: flex;
    width: 150px;
    height: 150px;
    border-radius: 50%;
}

.nome {
    font-size: 15px;
    font-weight: bold;
    color: #000000;
}

.linkEditar {
    display: flex;
    background-color: #ffffff;
    color: #000000;
    border: 1px solid #000000;
    border-radius: 10px;
    margin: 5px;
    padding: 10px;
    cursor: pointer;
    font-size: 16px;
    justify-content: center;
    align-items: center;
    width: 160px;
    font-family: var(--font-alexandria);
}

.editarPerfil {
    color: #FD5972;
    font-size: 15px;
    font-weight: bold;
}

.acoesLivros {
    display: flex;
    flex-direction: row;
    height: 100%;
    width: 100%;
}

.acoes1 {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100%;
    width: 100%;
    padding: 20px 50px 20px 50px;
    gap: 20px;
}

.metaLeitura {
    display: flex;
    justify-content: space-between;
    padding: 20px;
    background-color: #ffffff;
    color: #000000;
    height: 60px;
    width: 100%;
    border-radius: 15px;
}

.links {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #FEC992;
    color: #000000;
    height: 60px;
    width: 100%;
    border-radius: 15px;
}

.footer {
  background-color: #FFABB8;
  height: 30px;
  border-radius: 20px 20px 0 0;
  margin-top: auto;
}