.excluirUser {
    height: 40px;
    width: 100px;
    font-family: var(--font-alexandria);
    font-size: 14px;
    padding: 0 15px;
    border: none;
    border-radius: 10px;
    background-color: #fc3250;
    cursor: pointer;
}